$primary-color: #0fafe9;
$primary-color1: #e7f7fd;
$black-text-color: #0b0b0c;
$black-text-color1: #33334f;
$grey-text-color: #8786ad;
$grey-text-color1: #656567;
$grey-text-color2: #b9b9b9;
$grey-text-color3: #ebebeb;
$grey-text-color4: #f3f1f1;
$red-color: #ff1d0e;
$white-color: #fff;
$nav-height: 80px;
