@use "../../../../styles/variables" as v;

.products {
  .products-header {
    .title {
      color: v.$black-text-color1;
      font-size: 1.4rem;
      text-transform: capitalize;
      position: relative;

      &::after {
        content: "";
        position: absolute;
        width: 90px;
        height: 3px;
        background-color: v.$primary-color;
        bottom: -12px;
        left: 2px;
        border-radius: 10px;
      }

      span {
        &:nth-child(2) {
          margin-right: 7px;
        }
      }

      svg {
        font-size: 15px;
        margin-right: 10px;
      }
    }
  }

  .product-list {
    margin-top: 40px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px 19px;
    max-height: 1487px;
    overflow-y: auto;
    padding-right: 10px;

    .product-item {
      border-bottom: 0px solid v.$primary-color;
      transition: all 0.15s linear;

      &:hover {
        cursor: pointer;
        border-width: 3px;
      }
    }

    .img-box {
      img {
        border-radius: 10px;
      }
    }

    .product-desc {
      .title {
        font-weight: 400;
        font-size: 1.125rem;
        line-height: 150%;
        letter-spacing: -0.0035em;
        color: v.$black-text-color;
      }

      .desc {
        font-weight: 600;
        font-size: 0.7rem;
        line-height: 175%;
        letter-spacing: 0.0112em;
        text-transform: uppercase;
        color: v.$grey-text-color2;
        width: 261px;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
      }

      .price {
        font-weight: 400;
        font-size: 0.938rem;
        line-height: 180%;
        letter-spacing: -0.0035em;
        color: v.$primary-color;
      }
    }
  }
}
